:root {
    --text-color: #212121;
    --subtext-color: #757575;
    --additional-cl: #2196F3;
    --headfooter-bg-cl: #2F303A;
    --main-bg-cl: #FFFFFF;
    --portfolio-btn-cl: #F5F4FA;
    --Raleway-txt: 'Raleway', sans-serif;
    --Roboro-txt: 'Roboto', sans-serif;
}

body {
    background-color: #FFFFFF;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.list {
    list-style: none;
}



.logo-link-text,
.logo-link {
    font-family: var(--Raleway-txt) ;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    text-decoration: none;
    
}

.logo-link {
    color: var(--additional-cl);
}

.logo-link-text {
    color: #000000;
}

.link {
    font-family: var(--Roboro-txt) ;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
}

.address-link {
    font-family: var(--Roboro-txt);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: #2F303A;
    text-decoration: none;
}

.list .link.current {
    color: var(--additional-cl);
}

.link:hover,
.link:focus {
    color: var(--additional-cl);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--additional-cl);
}

.contact-link {
    color: var(--subtext-color);
    text-decoration: none;
    font-style: normal;
}

/* main-content-one-section */

.section {
    background-color: #2F303A;
}

.section-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.section-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--additional-cl);
    color: #FFFFFF;
    border-color: transparent;
    cursor: pointer;
}

/* прихованний заголовок */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* organization */


.heading {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color);

}

.org-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--subtext-color);

}

/* photo-list */

.photo-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* team-card */

.team-section {
    background-color: #F5F5F5;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.list-item {
    background-color: var(--main-bg-cl);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color)
}

.team-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--subtext-color)

}

/* footer */

.logo-text {
    font-family: var(--Raleway-txt) ;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--main-bg-cl);

}

.footer {
    background-color: var(--headfooter-bg-cl);
}

/* portfolio.html */

.list .link.carrent {
    color: var(--additional-cl);
}

.section-port {
    background-color: var(--main-bg-cl);
}

.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: var(--portfolio-btn-cl);
    color: var(--text-color);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: var(--additional-cl);
    color: var(--main-bg-cl);
}

/* project */

.caption {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--text-color);
}

.sub-caption {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--subtext-color);
}



/* .logo-link{
    color: #2196F3;
}

.logo-link-text {
    color: #000000;
}

.link:hover,
.link:focus {
    color: #2196F3;
}

.link {
    color: #212121;
} */